
# These passwords should be changed to appropriate values.

# This is the grid's signing certificate (CA) that we always generate.
# It is used for signing grid resources, which themselves can be CAs.
CA_PASSWORD='CApassword'

# This should be set to the administrative keystore password (admin.pfx).
# This password must match the admin.pfx if it is overridden.  Otherwise,
# the password is used as the password for the generated admin.pfx file.
ADMIN_PASSWORD='ADMpassword'
# We need to know the alias of the key stored in the administrative PFX file.
# If not known, the alias can be found by running the command:
#   keytool -list -storetype PKCS12 -keystore admin.pfx
ADMIN_ALIAS='admin'

# This should be set to the password for the tls-cert.pfx keystore.  This
# certificate is used for TLS communication over the network to identify
# the container.  If the tls-cert.pfx is overridden, then this must be the
# correct password for that file.  Otherwise the password is used to generate
# the tls-cert.pfx file.
TLS_IDENTITY_PASSWORD='container'

