
# These passwords should be changed to appropriate values.

# If you're given a signing certificate by your grid administrator, ensure
# that the proper alias and password are listed here.  This is not often
# needed for secondary (non-root) containers.
CA_ALIAS='signing-cert'
CA_PASSWORD='CApassword'

# This needs to be changed on every container.
ADMINPASS='ADMpassword'

# Needs to be set on the root container; irrelevant elsewhere.
SECRUNPASS='SRpassword'

# Password on tls-cert.pfx keystore.
TLSIDENTITYPASS='container'


