<plugins>
	<plugin class="edu.virginia.vcgr.genii.ui.plugins.files.EditPlugin">
		<top-menu menu-name="Edit" group="Basic File" item-name="Edit"/>
		
		<popup-menu group="Basic File" item-name="Edit"/>
	</plugin>
	
	<plugin class="edu.virginia.vcgr.genii.ui.plugins.matchparam.MatchingParametersPlugin">
		<popup-menu menu-name="Basic Resource" item-name="Matching Parameters"/>
	</plugin>
	
	<plugin class="edu.virginia.vcgr.genii.ui.plugins.files.MakeDirectoryPlugin">
		<top-menu menu-name="File" group="Basic File" item-name="Make Directory"/>
		
		<popup-menu group="Basic File" item-name="Make Directory"/>
	</plugin>
	
	<plugin class="edu.virginia.vcgr.genii.ui.plugins.queue.QueueManagerPlugin">
		<top-menu menu-name="Jobs" group="Queue" item-name="Queue Manager"/>
		<popup-menu group="Queue" item-name="Queue Manager"/>
	</plugin>
	
	<plugin class="edu.virginia.vcgr.genii.ui.plugins.files.MakeFilePlugin">
		<top-menu menu-name="File" group="Basic File" item-name="Create New File"/>
		
		<popup-menu group="Basic File" item-name="Create New File"/>
	</plugin>
	
	<plugin class="edu.virginia.vcgr.genii.ui.plugins.groups.CreateGroupPlugin">
		<top-menu menu-name="Security" group="Security" item-name="Create Security Group"/>
		
		<popup-menu group="Security" item-name="Create Security Group"/>
	</plugin>
	
	<plugin class="edu.virginia.vcgr.genii.ui.plugins.acct.AccountingUserManagerPlugin">
		<popup-menu group="Accounting" item-name="Accounting User Management"/>
	</plugin>
	
	<plugin class="edu.virginia.vcgr.genii.ui.plugins.cmdfunc.CommandFunctionPlugin">
		<popup-menu group="Resource Forks" item-name="Execute Command Function"/>
	</plugin>
	
	<plugin class="edu.virginia.vcgr.genii.ui.plugins.files.SimpleSetterPlugin">
		<popup-menu group="Resource Forks" item-name="Set Resource Fork Value"/>
	</plugin>
	
	<plugin class="edu.virginia.vcgr.genii.ui.plugins.epr.EPRDisplayPlugin">
		<tab name="EPR Display"/>
	</plugin>
	
	<plugin class="edu.virginia.vcgr.genii.ui.plugins.files.FileDisplayPlugin">
		<tab name="File Contents"/>
	</plugin>
	
	<plugin class="edu.virginia.vcgr.genii.ui.plugins.attrs.AttributesDisplayPlugin">
		<tab name="Resource Properties"/>
	</plugin>
	
	<plugin class="edu.virginia.vcgr.genii.ui.plugins.acls.ACLPlugin">
		<tab name="Security"/>
	</plugin>
	
	<!--
	<plugin class="edu.virginia.vcgr.genii.ui.plugins.debug.DebugPlugin">
		<top-menu menu-name="Debug" group="Debug"
			item-name="Debug"/>

		<popup-menu group="Debug" item-name="Debug"/>

		<tab name="Debug Tab">
			<property name="tab-property" value="tab-value"/>
		</tab>

		<plugin-properties>
			<property name="plugin-property" value="plugin-value"/>
		</plugin-properties>
	</plugin>
	-->
	
	<plugin class="edu.virginia.vcgr.genii.ui.plugins.jsdltool.JSDLToolPlugin">
		<top-menu menu-name="Jobs" group="Queue" item-name="Create Job"/>
		
		<popup-menu group="Queue" item-name="Create Job"/>
	</plugin>
	
	<plugin class="edu.virginia.vcgr.genii.ui.plugins.shell.GridShellPlugin">
		<top-menu menu-name="Tools" group="Shell" item-name="Launch Grid Shell"/>
	</plugin>
	
</plugins>
