Don't forget to replace IDTABLE with a table that has the ids to delete.
Don't forget to replace ID with column in IDTABLE that holds the ID.

DELETE FROM PROPERTIES WHERE RESOURCEID IN (SELECT ID FROM IDTABLE);
DELETE FROM RESOURCES WHERE RESOURCEID IN (SELECT ID FROM IDTABLE);
DELETE FROM RESOURCES2 WHERE RESOURCEID IN (SELECT ID FROM IDTABLE);
