<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserName</key>
	<string>${installer:genii.username}</string>

<!--
	<key>GroupName</key>
	<string>staff</string>
-->

	<key>KeepAlive</key>
	<true/>

	<key>Label</key>
	<string>edu.virginia.vcgr.xcg</string>

	<key>ProgramArguments</key>
	<array>
		<string>${installer:sys.installationDir}/runContainer</string>
	</array>

	<key>RunAtLoad</key>
	<true/>

	<key>StandardErrorPath</key>
	<string>${installer:sys.installationDir}/XCG.err</string>

	<key>StandardOutPath</key>
	<string>${installer:sys.installationDir}/XCG.out</string>

	<key>WorkingDirectory</key>
	<string>${installer:sys.installationDir}</string>
</dict>
</plist>
