
genii.publisher="XSEDE: Extreme Science and Engineering Discovery Environment"
genii.publisher-url=xsede.org
genii.deployment-source=deployment_base/act126_udc1
genii.deployment-context=act126_context.xml
genii.deployment-name="XSEDE Namespace 126 and Onwards"
genii.user-path=/users/xsede.org
genii.generate-certs=false
genii.new-deployment=current_grid

