
genii.publisher="XSEDE: Extreme Science and Engineering Discovery Environment"
genii.publisher-url=xsede.org
genii.deployment-source=deployment_base/act126_ops
genii.deployment-context=act126_context.xml
genii.deployment-name="XSEDE GFFS"
genii.user-path=/users/xsede.org
genii.generate-certs=false
genii.new-deployment=current_grid
genii.simple-name=xsede-main

