
genii.publisher="XSEDE: Extreme Science and Engineering Discovery Environment"
genii.publisher-url=xsede.org
genii.deployment-source=deployment_base/act126_udc1
genii.deployment-context=act126_context.xml
genii.deployment-name="XSEDE Namepsace and Onwards Test Grid"
genii.user-path=/users/xsede.org
genii.generate-certs=false
genii.new-deployment=act126-udc1

