
genii.publisher="University of Virginia"
genii.publisher-url=genesis2.virginia.edu
genii.deployment-source=../deployments/default
genii.deployment-context=context.xml
genii.deployment-name="Simple Bootstrapped Grid"
genii.user-path=/users/xsede.org
genii.generate-certs=true
genii.new-deployment=mini_grid
genii.simple-name=minigrid

