
genii.publisher="XSEDE: Extreme Science and Engineering Discovery Environment"
genii.publisher-url=xsede.org
genii.deployment-source=deployment_base/gffs_eu
genii.deployment-context=gffs_eu_context.xml
genii.deployment-name="European Union XSEDE Grid"
genii.user-path=/users/xsede.org
genii.generate-certs=true
genii.new-deployment=gffs_eu

