
genii.publisher="LCI: Lancium Compute Infrastructure"
genii.publisher-url=lancium.com
genii.deployment-source=deployment_base/xsede_production
genii.deployment-context=context.xml
genii.deployment-name="Lancium Compute"
genii.user-path=/users/CCC/Lancium
genii.generate-certs=false
genii.new-deployment=current_grid
genii.simple-name=Lancium

