
genii.publisher="University of Virginia"
genii.publisher-url=genesis2.virginia.edu
genii.deployment-source=deployment_base/udc3
genii.deployment-context=context.xml
genii.deployment-name="UDC3 GFFS"
genii.user-path=/users/xsede.org
genii.generate-certs=false
genii.new-deployment=current_grid
genii.simple-name=udc3

