
genii.publisher="University of Virginia"
genii.publisher-url=genesis2.virginia.edu
genii.deployment-source=deployment_base/xcg3
genii.deployment-context=xcg3_context.xml
genii.deployment-name="Cross-Campus (XCG)"
genii.user-path=/users/xcg.virginia.edu
genii.generate-certs=true
genii.new-deployment=current_grid
genii.simple-name=xcg

