
genii.publisher="XSEDE: Extreme Science and Engineering Discovery Environment"
genii.publisher-url=xsede.org
genii.deployment-source=deployment_base/xsede_testgrid
genii.deployment-context=context.xml
genii.deployment-name="XSEDE GFFS 126-149 Test"
genii.user-path=/users/xsede.org
genii.generate-certs=false
genii.new-deployment=current_grid
genii.simple-name=xsede

